.sort {
  font-weight: normal;
  line-height: 1.4;
}

.fieldset {
  width: 277px;

  border: 1px solid #cbd5e1;
  border-radius: 10px;
}

@media (max-width: 1024px) {
  .fieldset {
    width: 100%;
    margin-bottom: 2rem;
  }
}
