html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

details {
  overflow: hidden; /* Keep this line to prevent an odd blue outline around the element in Safari. */
}

summary {
  display: block;
  font-size: 2em;
  font-weight: 600;
}

summary::-webkit-details-marker {
  display: none;
}

div.content {
  max-height: 0;
  overflow: hidden;
  padding: 0 3rem;
  transition: max-height 0.4s ease-out;
}

details[open] + div.content {
  max-height: 400px; /* Set a max-height value enough to show all the content */
  transition: max-height 0.8s ease-out;
}

details[open] span::before {
  rotate: 90deg;
  transition: rotate 0.2s ease-out;
}

hr {
  border: 0.6px solid rgb(203 213 225);
}

@import url(https://fonts.googleapis.com/css?family=Lato:100);
